<body>
    <label for="destination">Destination:</label><br>
    <input type="text" id="destination" name="destination"><br>

    <label for="numTravelers">Number of Travelers:</label><br>
    <input type="number" id="numTravelers" name="numTravelers"><br>

    <label for="duration">Travel Duration (days):</label><br>
    <input type="number" id="duration" name="duration"><br><br>

    <button type="button" onclick="submitTripPlan()">Submit Plan</button>

    <script>
        function submitTripPlan() {
            var destination = document.getElementById('destination').value;
            var numTravelers = document.getElementById('numTravelers').value;
            var duration = document.getElementById('duration').value;
            
            // Assuming you want to send these values as query parameters to a URL
            window.location.href = '/submitTrip?destination=' + encodeURIComponent(destination) + '&numTravelers=' + encodeURIComponent(numTravelers) + '&duration=' + encodeURIComponent(duration);
        }
    </script>
</body>

